---
- name: Deploy application to Kubernetes
  hosts: appserver
  gather_facts: false
  become: true

  vars:
    kubeconfig_path: "/home/ec2-user/.kube/config"
    namespace: "default"
    deployment_file: "/home/ec2-user/k8s_deployment.yaml"

  tasks:

    - name: Ensure .kube directory exists
      file:
        path: /home/ec2-user/.kube
        state: directory
        owner: ec2-user
        mode: '0700'

    - name: Copy kubeconfig to app server
      copy:
        src: kubeconfig
        dest: "{{ kubeconfig_path }}"
        owner: ec2-user
        mode: '0600'

    - name: Copy Kubernetes deployment manifest
      copy:
        src: ansible/k8s_deployment.yaml
        dest: "{{ deployment_file }}"
        owner: ec2-user
        mode: '0644'

    - name: Ensure Kubernetes namespace exists
      community.kubernetes.k8s:
        api_version: v1
        kind: Namespace
        name: "{{ namespace }}"
        kubeconfig: "{{ kubeconfig_path }}"
        state: present

    - name: Apply Kubernetes Deployment
      community.kubernetes.k8s:
        kubeconfig: "{{ kubeconfig_path }}"
        state: present
        src: "{{ deployment_file }}"

    - name: Wait for deployment to be ready
      community.kubernetes.k8s_wait:
        kubeconfig: "{{ kubeconfig_path }}"
        kind: Deployment
        namespace: "{{ namespace }}"
        name: k8s
        timeout: 300
        condition: available

    - name: Get deployment info
      community.kubernetes.k8s_info:
        kind: Deployment
        namespace: "{{ namespace }}"
        name: k8s
        kubeconfig: "{{ kubeconfig_path }}"
      register: deployment_info

    - name: Output deployed image version
      debug:
        msg: >
          Deployment is using image:
          {{ deployment_info.resources[0].spec.template.spec.containers[0].image }}
