---
- hosts: appserver
  name: Deploying Demo Application
  become: true

  vars:
    container_name: demo-app

  tasks:

  - name: Install Docker
    yum:
      name: docker
      state: latest

  - name: Start and enable Docker
    service:
      name: docker
      state: started
      enabled: yes

  - name: Install pip
    yum:
      name: python3-pip
      state: present

  - name: Install Docker SDK for Python
    pip:
      name: docker

  - name: Add ec2-user to docker group
    user:
      name: ec2-user
      groups: docker
      append: yes

  - name: Reset SSH connection
    meta: reset_connection

  - name: Remove old container if exists
    docker_container:
      name: "{{ container_name }}"
      state: absent

  - name: Run latest container
    docker_container:
      name: "{{ container_name }}"
      image: "{{ image_name }}:{{ image_tag }}"
      state: started
      restart_policy: always
      published_ports:
        - "8080:8080"
